{% load static %}
<html>
    <head>
        <title>Компании</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="item-without-markers"> {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <p>
            Мы сотрудничаем с самыми крупными страховыми компаниями на рынке туристических страховок,
            чтобы всегда предоставлять Вам самые актуальные и выгодные предложения.
        </p>
        <h3>Наши партнеры:</h3>
        <ul>
            {% for company in companies %}
            <li>
                <a href="{{company.website}}">{{ company.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>